nav {
    display: block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 69, 69);
    width: 100%;
    position: top;
  }
  
  li {
    float: left;
  }
  
  li a {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(29, 250, 29);
  }
 
  .navbar{
      color: aliceblue;
      text-align: center;
  }
  .summary{
      color: black;
  }
  html {
    scroll-behavior: smooth;
  }
  .card {
    /* changing layout within card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* spaces between elements - div sections in our case */
    text-align: center;
    min-height: 200px;
    min-width: 400px;
    background: radial-gradient(#1fe4f5, #3fbafe);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0);

}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* wraps if not enough space for card */
  gap: 1em;
}

h1, h3, p, a {
  color: #ffffff;
}

body{
  background-color: rgb(122, 137, 194)
}

.name{
  font-size: 64px;
}

.describer{
  text-align: center;
}

.Langs{
  text-align: center;
}