nav {
    display: block;
    position: sticky;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 69, 69);
    width: 100%;
    position: sticky;
  }
  
  li {
    float: left;
  }
  
  li a {
    padding: 14px 16px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(29, 250, 29);
  }
 
  .navbar{
    position: sticky;
      text-align: center;
  }
  .summary{
      color: black;
  }
  /*Makes scrolling smooth */
  html {
    scroll-behavior: smooth;
  }
  /* Basic Cards were made in class, some properties were just changed */
  .card {
    /* changing layout within card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* spaces between elements - div sections in our case */
    text-align: center;
    min-height: 200px;
    min-width: 400px;
    background: radial-gradient(#1fe4f5, #3fbafe);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0);

}
/* make profile picture a circle */
.circle{
  border-radius: 50%;
  width: 50%;
  height: 100%;
}
/* Basic Cards were made in class, some properties were just changed */
.card2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  min-height: auto;
  min-width: 400px;
  background: radial-gradient(#c77ba5, #f3d5d5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0);
}

.card1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  min-height: 200px;
  min-width: 400px;
  background: radial-gradient(#D62121, #C72C2C, #3A1111);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0);
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* wraps if not enough space for card */
  gap: 1em;
}

/* Changing font color */
h1, h2, h3, p, a {
  color: #ffffff;
}

/*Background color of page */
body{
  background-color: rgb(122, 137, 194)
}

/*Make bigger font for my name */
.name{
  font-size: 64px;
}

/*Class used to center*/
.describer{
  text-align: center;
}

/*Class used to center */
.Langs{
  text-align: center;
}

/* Makes a link look the same as a button by casting the appearance */
.button{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 50px;
  text-decoration: none;
  background-color: rgb(90, 30, 30);
  border-radius: 25%;
}
/* a:hover used to make the view resume button change color when highlighed*/
a:hover{
  background-color: #1fe4f5;
}